/* Navigation */
#navbar {
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}
/* Home section */
#home{
    height: 370px; 
    padding: 3px 28px;
}

#home::before{
    height: 378px; 
}

#home p{
    font-size: 13px;
}

/* Services section  */
#services{
    flex-direction: column;
}
#prodheahing{

    width: 80%;
}



#services .box { 
    padding: 14px;
    margin: 8px 8px; 
    margin-bottom: 20px;
}



/* Contact us section */
#contact-box form{
    width:80%;
}
/* Footer */

/* Utility classes */
.h-primary{
    font-size:30px;
  

}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}